.overlay {
    background-color: rgba(128,128,128, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.overlay__text {
    font-size: 5rem;
    color: white;
}

.overlay--hidden {
    display: none;
}

.overlay--error {
    background-color: red;
}